#footerSpace {
    padding-bottom: 200px;
}

#tableContainer table {
    width: 100%;
    border-collapse: collapse;
}

#tableContainer th,
td {
    padding: 40px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #0e0404;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(79, 187, 241);
    cursor: pointer;
}

#tableContainer {
    width: 50%;
    margin: 5% auto;
}

#tableContainer th:nth-child(2),
#tableContainer td:nth-child(2) {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}

#sortButton, #resetButton{
    font-size: 2rem;
    margin: 0px 2% 0px 2%;
    border: 1px solid #ffffff;
    padding: 25px 50px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(14, 4, 4), rgb(79, 187, 241));
    cursor: pointer;
    box-shadow: 0 0 5px rgb(79, 187, 241);
    color: white;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    margin: 2% 0px 2% 0px;
}

