#footerSpace {
    padding-bottom: 200px;
}

#tableContainer table {
    width: 100%;
    border-collapse: collapse;
}

#tableContainer th,
td {
    padding: 40px;
    text-align: center;
    font-size: 24px;
}

#tableContainer {
    width: 50%;
    margin: 5% auto;
}

#tableContainer th:nth-child(2),
#tableContainer td:nth-child(2) {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}

#sortButton{
    font-size: 2rem;
    padding: 20px;
}

