.socialNetworksTable ul,
main {
  display: flex;
  align-items: center
}

main {
  margin: 4% 2%;
  flex-direction: column;
  width: auto;
  min-height: 80vh
}


.frontPage h1,
.frontPage h2 {
  color: #34516c;
  font-weight: 650;
  margin: 3%0
}

.frontPage h2 {
  font-size: 2.8rem;
  margin: 30px 0 10px
}

.PersonInfoPanel {
  font-size: 2.3rem
}

.socialNetworksTable ul {
  flex-direction: row;
  list-style-type: none
}

.socialNetworksTable img {
  width: 90px;
  margin-right: 4%;
  border: solid #b9c1ca;
  border-radius: 1px;
  transition: .3s ease
}

.socialNetworksTable img:hover {
  border-color: #5c6877;
  box-shadow: 0 0 5px rgba(179, 179, 206, .5)
}

.socialNetworksTable ul li {
  flex: 1;
  padding-right: 3%
}

.teamTable ul {
  font-size: 4.5rem;
  list-style-type: none;
  color: #34516c
}

.frontPage h1,
.teamTable ul h1 {
  font-size: 6rem
}

.frontPage p {
  font-size: 1.7rem
}

.frontPage {
  margin: 0 2%;
  width: 65%
}

.teamTable {
  margin-bottom: 50px
}

.frontPage #buttonStart {
  padding: 15px 25px;
  background: linear-gradient(45deg, #0e0404, #4fbbf1);
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px #4fbbf1;
  font-size: 3rem;
  text-decoration: none
}

.frontPage .descriptionIndex {
  color: #040404;
  font-size: 2.7rem;
  font-style: italic;
  margin: 3%0 100px
}

#CameraButton,
#SwitchCameraButton,
.PersonInfoPanel button {
  margin-right: 10px;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer
}

#CameraButton,
#SwitchCameraButton {
  max-width: 100px
}

#CameraButton:hover {
  background-color: #c9b6b8;
  box-shadow: 0 0 5px #cfb5b5
}

#buttonStart:hover,
#treasureHunts li:hover,
.StarButton:hover {
  background: linear-gradient(45deg, #4fbbf1, #0e0404)
}

.errorMessagesSize {
  font-size: 3rem;
  margin: 15px 0
}

#treasureHunts {
  list-style-type: none
}

#quizContainer {
  max-width: 600px;
  margin: 0 auto
}

.PersonInfoPanel{
  padding: 10px 26px;
  margin: 25px;
  cursor: pointer
}

.PersonInfoPanel {
  border: 2px solid #0e0404;
  border-radius: 5px;
  box-shadow: 0 0 5px #4fbbf1
}

.PersonInfoPanel button {
  background-color: #4caf50;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 5px #4caf50
}

.PersonInfoPanel button:hover {
  background-color: #bc1621;
  box-shadow: 0 0 5px red
}

.PersonInfoPanel input[type=button],
.PersonInfoPanel input[type=text] {
  padding: 8px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px
}

#questionField {
  list-style: none
}

#treasureHunts li,
.StarButton {
  background: linear-gradient(45deg, #0e0404, #4fbbf1);
  cursor: pointer;
  box-shadow: 0 0 5px #4fbbf1;
  color: #fff
}

.StarButton {
  border: 2px solid #0e0404;
  padding: 10px 26px;
  border-radius: 5px;
  font-size: 25px;
  margin: 7px 7px 7px 110px
}

#SubmitButton,
.falseButton,
.mcqOption,
.trueButton {
  border: 1px solid rgba(14, 7, 7, .53);
  background-color: rgba(49, 48, 48, .46);
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer
}

#SubmitButton:hover,
.falseButton:hover,
.mcqOption:hover,
.trueButton:hover {
  background-color: #4caf50;
  box-shadow: 0 0 10px #4caf50
}

#PlayerAnswer {
  border: 1px solid #fff;
  padding: 5px;
  margin: 5px;
  width: 275px
}

#SeenQuestion {
  display: none
}

.questionContainer .skipButton {
  position: relative;
  left: 20%
}

#treasureHunts li {
  border: 1px solid #fff;
  padding: 25px 50px;
  border-radius: 10px;
  margin-top: 10px
}

.treasureHuntFontSize {
  font-size: 3rem;
  margin: 30px 0
}

#testLinks {
  color: #34516c;
  font-weight: 650;
  font-size: 10rem;
  width: 65%;
  margin: 3%0
}

#robot{
  width: 300px;
}

footer {
  background-color: #acb3b8;
  width: 100%;
  color: #fff;
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: space-between;
  padding: 15px 2%;
  height: 175px
}


.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 20px;
  margin: 3% 0px;
}

.progress-bar-line {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #ddd;
}

#point-1,
#point-2,
#point-3,
#point-4,
#point-5,
#point-6 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

.progress-bar-point {
  width: 10px;
  position: relative;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
}

.progress-bar-point::before {
  content: attr(data-number);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width:1192px) {

  .frontPage h1,
  .teamTable ul h1 {
    font-size: 5rem
  }

  #testLinks {
    color: #34516c;
    font-weight: 650;
    font-size: 6rem;
    width: 65%;
    margin: 3%0
  }

  .teamTable ul {
    font-size: 4rem;
    color: #34516c
  }
}

@media only screen and (max-width:768px) {

  .frontPage h1,
  .teamTable ul h1 {
    font-size: 4rem
  }

  #testLinks {
    color: #34516c;
    font-weight: 650;
    font-size: 5rem;
    width: 65%;
    margin: 3%0
  }

  .frontPage p {
    font-size: 1.3rem
  }

  .teamTable ul {
    font-size: 3rem
  }

  .socialNetworksTable img {
    width: 75px
  }

  #robot {
    width: 200px
  }

  .header-main-logo {
    width: 80%;
    text-align: center
  }

  .header-main-name {
    display: block;
    text-align: center
  }

  .header-main-nav {
    display: none
  }

  .burger-menu-button {
    display: block
  }

  .burger-menu {
    display: none
  }

  .socialNetworksTable {
    width: 80%
  }
}