/* footer.css, footer, which used for every page */

footer {
  background-color: #34516c;
  width: 100%;
  color: white;
  display: flex;
  position: static;
  justify-content: space-between;
  padding: 45px 2%;
}

footer p a {
  color: #007FB0;
}

footer p,
footer a {
  font-size: 1.6rem;
}

footer .left p,
.middle p {
  margin-bottom: 15px;
}

footer h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.middle,
.left {
  padding-right: 25px;
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 12%;
}

@media only screen and (max-width: 768px) {

  footer p,
  footer a {
    font-size: 1.2rem;
  }

  footer h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 500px) {

  footer p,
  footer a {
    font-size: 1rem;
  }

  footer .right {
    margin-right: 5%;
  }
}