/* footer.css, footer, which used for every page */

footer {
  background-color: #34516c;
  width: 100%;
  color: white;
  display: flex;
  position: static;
  justify-content: space-between;
  padding: 45px 2%;
}

