
main {
  padding: 20px 0;
  display: flex;
  align-items: center;
  margin: 1% 2%;
  flex-direction: column;
  width: auto;
  min-height: 80vh;
}

.frontPage h1 {
  color: #34516c;
  font-weight: 650;
  font-size: 3.2rem;
  margin-bottom: 10px;
}

.frontPage h2 {
  color: #34516c;
  font-weight: 650;
  font-size: 2.8rem;
  margin: 30px 0 10px 0;
}
.socialNetworksTable ul{
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  list-style-type: none;
}
.teamTable ul{
  font-size: 3rem;
  list-style-type: none;
}
.frontPage p {
  font-size: 1.7rem;
}

@media only screen and (max-width: 1192px) {
  .frontPage h1 {
    font-size: 5rem;
  }

  .frontPage p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .frontPage h1 {
    font-size: 3.3rem;
  }

  .frontPage p {
    font-size: 1.5rem;
  }

}